
*{
  margin: 0️;
  padding: 0;
}

body{
  /* padding-left: 6rem; */
  /* padding-right: 6rem; */
}

.hero-txt{
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}
.hero-p{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
}

h3{
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.process-p{
  width: 60%;
  
}
.process-component{
  height:100vh;
}